<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - CloudHW.info</title>

    <link rel="stylesheet" href="css/bulma.min.css">
    <link rel="stylesheet" href="css/materialdesignicons.min.css">
    <style>
        .footer {
            padding: 3rem;
        }
    </style>

    <script src="js/base.js"></script>

    {% endblock %}
</head>

<body>

<div class="container">
    <nav class="navbar" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="navbar-item">
                <a class="navbar-item" href="index.html">
                    <span class="icon">
                        <i class="mdi mdi-cloud-outline" aria-hidden="true"></i>
                    </span>&nbsp;CloudHW.info
                </a>
            </div>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="index.html">
                    <span class="icon">
                        <i class="mdi mdi-magnify" aria-hidden="true"></i>
                    </span>&nbsp;Search
                </a>
                <a class="navbar-item" href="data.html">
                    <span class="icon">
                        <i class="mdi mdi-database" aria-hidden="true"></i>
                    </span>&nbsp;Data
                </a>
                <a class="navbar-item" href="sources.html">
                    <span class="icon">
                        <i class="mdi mdi-web" aria-hidden="true"></i>
                    </span>&nbsp;Sources
                </a>
                <a class="navbar-item" href="about.html">
                    <span class="icon">
                        <i class="mdi mdi-information-outline" aria-hidden="true"></i>
                    </span>&nbsp;About
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item is-dark" href="https://github.com/powersj/cloudhw.info">
                    <span class="icon">
                        <i class="mdi mdi-github" aria-hidden="true"></i>
                    </span>&nbsp;&nbsp;View on GitHub
                </a>
            </div>
        </div>
    </nav>
</div>

{% block content %}
{% endblock %}

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>CloudHW.info</strong> &copy; 2020 <a href="https://powersj.io">Joshua Powers</a>.
            <br />This site is not maintained by or affiliated with any of the cloud vendors.
            <br /><a href="https://github.com/powersj/cloudhw.info/issues/new">Report a bug on this site</a>
        </p>
    </div>
</footer>

</body>
</html>
