{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .box { height: 100%; }
    </style>

    <script src="js/jsplumb.min.js"></script>
{% endblock %}

{% block content %}

<section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Search for an instance type below to find out more about it!</h1>

            <form action="search.html" method="get">
                <div class="field has-addons">
                    <div class="control is-expanded has-icons-left">
                        <div class="select is-fullwidth">
                            <input class="input" type="text" name="type" id="instance-search"
                                list="instance_types" placeholder="Enter instance type (e.g. t3.micro)" />
                        </div>
                        <span class="icon is-left">
                            <i class="mdi mdi-magnify" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="control">
                        <button type="submit" class="button is-link">Search</button>
                    </div>
                </div>
                <datalist id="instance_types">
                    {% for instance in instance_types -%}
                        <option>{{ instance }}</option>
                    {%- endfor %}
                </datalist>
            </form>
        </div>
    </div>
</section>

{% endblock %}
