{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .box { height: 100%; }
    </style>

    <script src="js/search.js"></script>
    <script src="js/jsplumb.min.js"></script>
{% endblock %}

{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Search</h1>
            <h2 class="subtitle">Search for an instance type below</h2>
        </div>
    </div>
</section>

<section class="section">
<div class="container content">
    <form action="search.html" method="get">
        <div class="field has-addons">
            <div class="control">
                <button type="submit" class="button is-danger">Search</button>
            </div>
            <div class="control is-expanded is-fullwidth has-icons-left">
                <input class="input" type="text" name="type" id="instance-search"
                    list="instance_types" placeholder="e.g. t3.micro" />
                <span class="icon is-left">
                    <i class="mdi mdi-magnify" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <datalist id="instance_types">
            {% for instance in instance_types -%}
                <option>{{ instance }}</option>
            {%- endfor %}
        </datalist>
    </form>
</div>

<div class="container content">
    <div id="decoder"></div>

    <div class="columns">
        <div class="column" id="details"></div>
        <div class="column" id="cpu"></div>
        <div class="column" id="memory"></div>
    </div>
    <div class="columns">
        <div class="column" id="network"></div>
        <div class="column" id="storage"></div>
        <div class="column" id="notes"></div>
    </div>

    <div class="columns">
        <div class="column" id="family"></div>
    </div>
</div>
</section>

{% endblock %}
