{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        .box { height: 100%; }
    </style>

    <script src="js/search.js"></script>
    <script src="js/jsplumb.min.js"></script>
{% endblock %}

{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Search
            </h1>
            <p class="subtitle">
                Search for an instance type below to find out more about it!
            </p>
        </div>
    </div>
</section>
<br />

<div class="container content">
    <div class="field has-addons">
        <div class="control is-expanded has-icons-left">
            <div class="select is-fullwidth">
                <input class="input" type="text" name="type" id="instance-search"
                    list="instance_types" placeholder="Enter instance type (e.g. t3.micro)" />
            </div>
            <span class="icon is-left">
                <i class="mdi mdi-magnify" aria-hidden="true"></i>
            </span>
        </div>
        <div class="control">
            <button type="submit" class="button is-link">Search</button>
        </div>
    </div>
    <datalist id="instance_types">
        {% for instance in instance_types -%}
            <option>{{ instance }}</option>
        {%- endfor %}
    </datalist>
</div>

<div class="container content">
    <div id="decoder"></div>

    <div class="columns">
        <div class="column" id="details"></div>
        <div class="column" id="cpu"></div>
        <div class="column" id="memory"></div>
    </div>
    <div class="columns">
        <div class="column" id="network"></div>
        <div class="column" id="storage"></div>
        <div class="column" id="notes"></div>
    </div>

    <div class="columns">
        <div class="column" id="family"></div>
    </div>
</div>

{% endblock %}
